@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Splash&display=swap');

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  gap: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 56px;
  font-family: "Splash", cursive;
  font-weight: normal;
  margin: 0;
}

.instructions {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}

.buttons {
  display: flex;
  gap: 12px;
}

.buttons > img {
  width: 200px;
  height: auto;
  transition: all 200ms ease-out;
}

.main {
  display: flex;
  gap: 40px;
}

.computer-selection {
  font-weight: 300;
  margin: 0;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.computer-selection > img {
  width: 120px;
  height: auto;
}

.buttons > img:hover {
  transform: scale(1.02);
  opacity: 0.85;
}

.buttons > img.active {
  opacity: 0.7;
  transition: opacity 80ms ease-out;
}

.results-container {
  gap: 32px;
  display: flex;
  align-items: center;
}

.results {
  font-weight: 500;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.results > p {
  margin: 0;
}

.restart-button {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
  padding: 12px 18px;
  border: 0;
  border-radius: 5px;
}

.restart-button:hover {
  background-color: hsl(0, 0%, 0%);
}

.hidden {
  display: none;
}

.shrek { color: hsl(133, 91%, 20%) }
.morb { color: hsl(209, 91%, 20%) }
.minion { color: hsl(54, 91%, 20%) }

h1 .shrek { color: hsl(133, 91%, 45%); }
h1 .morb { color: hsl(209, 91%, 45%); }
h1 .minion { color:hsl(54, 91%, 45%); }
